* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.intro{
    margin: 25px 25px 40px 25px;
}

.controls {
    margin: 10px 0;
    text-align: center;
}

.main-area {
    transform: scale(0.99);
    transform-origin: top left;
    margin-left: 20px;
}

.editable-area {
    --font-size: 24px;
    width: 816px;
    height: 1056px;
    font-size: var(--font-size);
    line-height: 1.5;
    background-color: white;
    border: 1px solid #ddd;
    overflow: auto;
    position: relative;
}

.editable-area::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: white;
    z-index: 1;
}

.editable-area.with-lines {
    background-image: linear-gradient(rgba(255, 108, 108, 0.3) 1px, transparent 1px);
    background-size: 100% calc(var(--font-size) * 1.5);
}

.margin-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    border-right: 1.8px solid rgba(0, 0, 0, 0.3); 
    z-index: 1;
    display: none;

}

.editable-area.with-margin .margin-overlay {
    display: block;
}

.content {
    padding-left: 17px;
    padding-top: 9px;
    position: relative;
    z-index: 2;
    padding-right: 5px;
    outline: none;
    font-size: var(--font-size);
}


.editable-area.with-margin::before {
    height: calc(var(--font-size) * 3.1);
    border-bottom: 1.8px solid rgba(0, 0, 0, 0.3);
}

.editable-area.with-margin .content {
    padding-left: 86px; /* 60px + 14px */
    padding-top: calc(var(--font-size) * 1.5 + 50px);
    padding-right: 3px;
}


@font-face {
    font-family: 'handwriting1';
    src: url('./fonts/handwriting1.ttf') format('truetype');
    
}

@font-face {
    font-family: 'handwriting2';
    src: url('./fonts/handwriting2.ttf') format('truetype');
}

@font-face {
    font-family: 'handwriting3';
    src: url('./fonts/handwriting3.ttf') format('truetype');
}
@font-face {
    font-family: 'handwriting4';
    src: url('./fonts/handwriting4.ttf') format('truetype');
}

@font-face {
    font-family: 'handwriting5';
    src: url('./fonts/handwriting5.ttf') format('truetype');
}

